name: CI Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:  # Allows manual triggering
  workflow_call: # Allows this workflow to be called by another workflow

jobs:
  trigger-RepoC:
    steps:
        - name: trigger dispatch
          run:  |
            curl -X POST -H "Accept: application/vnd.github.v3+json" \
               -H "Authorization: token ${{ secrets.REPOC_PAT }}" \
               https://api.github.com/repos/mradwan80/RepoC/actions/workflows/manual-trigger.yml/dispatches \
               -d '{"ref": "main", "inputs": {}}'
  trigger-RepoD:
    steps:
        - name: trigger dispatch
          run:  |
            curl -X POST -H "Accept: application/vnd.github.v3+json" \
               -H "Authorization: token ${{ secrets.REPOD_PAT }}" \
               https://api.github.com/repos/mradwan80/REPOD/actions/workflows/manual-trigger.yml/dispatches \
               -d '{"ref": "main", "inputs": {}}'
