name: CI Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:  # Allows manual triggering
  workflow_call: # Allows this workflow to be called by another workflow

jobs:
   start:
          
   trigger-RepoC:
    needs: start
    uses: mradwan80/RepoC/.github/workflows/ci.yml@main
  trigger-RepoD:
    needs: start
    uses: mradwan80/RepoD/.github/workflows/ci.yml@main
