name: CI Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:  # Allows manual triggering
  workflow_call: # Allows this workflow to be called by another workflow

jobs:
  trigger-RepoC:
    runs-on: ubuntu-latest
    steps:
        - name: trigger dispatch
          run:  |
            curl -X POST -H "Accept: application/vnd.github.v3+json" \
               -H "Authorization: token ${{ secrets.GLOBAL_PAT }}" \
               https://api.github.com/repos/mradwan80/RepoC/actions/workflows/ci.yml/dispatches \
               -d '{"ref": "main", "inputs": {"name": "Moe", "environment": "staging"}}'
  trigger-RepoD:
    runs-on: ubuntu-latest
    steps:
        - name: trigger dispatch
          run:  |
            curl -X POST -H "Accept: application/vnd.github.v3+json" \
               -H "Authorization: token ${{ secrets.GLOBAL_PAT }}" \
               https://api.github.com/repos/mradwan80/RepoD/actions/workflows/ci.yml/dispatches \
               -d '{"ref": "main", "inputs": {"name": "Moe", "environment": "staging"}}'
